body {
    background-color: black;
}

.links {
    float: right;
}

.links a {
    text-decoration: none;
    color: white;
    padding: 0px 0px 0px 20px;
}

.body {
    padding-top: 250px;
    text-align: center;
}

.img1 {
    width: 30px;
    position: relative;
    top: 10px;
}

.img2 {
    width: 300px;
}

.btns {
    padding-top: 20px;
}

.btn {
    width: 150px;
    height: 30px;
    margin: 10px;
}

.btn:hover {
    color: white;
    background-color: rgb(26, 17, 17);
}

input {
    width: 600px;
    height: 35px;
    border: 1px solid black;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-size: 20px;
}

.mic {
    width: 25px;
    background-color: black;
    position: relative;
    right: 40px;
    top: 5px;
}

footer {
    margin-top: 170px;
}

footer p {
    color: white;
}